/* Add here all your CSS customizations */

.sro-widget li {
    padding: 5px 15px;
}

.popupbanner {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,.3);
    top:0;
    left:0;
}

.popupbanner img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 95%;
}

.popupbanner .btn {
    position: absolute;
    left: 45.5%;
    top: 45%;
    margin: 0 auto;
}


/* Max Width 800px */
@media (max-width:478px) {
    .popupbanner img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        height: 90%;
        width: 90%;
    }

    .popupbanner .btn {
        position: absolute;
        left: 35%;
        top: 69%;
        margin: 0 auto;
    }
}